@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Github">https://github.com/nicemanman</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ilya.falko2013@gmail.com">ilya.falko2013@gmail.com</a><br />
</address>